.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-link {
  color: #61dafb;
} */

.back{
  padding: 25px;
  background-color: transparent;
  color: white;
  height:250px;
  width:500px;
}
.car-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  grid-row: 1 / span 4;
}
.car-card {
  width: 1300px;
  height: 200px;
  display: flex;

  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.5s;
}
.card-back {
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
}
.car-card img {
  max-width: 100%;
  max-height: 100%;
}
.me{
width:75px;
margin-left: 20px;
}

.headalign{
  text-align:center;
  
}

body{
  /* background: rgb(0,3,5);
  background: linear-gradient(90deg, rgba(0,3,5,0.9822522759103641) 53%, rgba(33,156,238,1) 83%);
/* color:white!important */ 
background:url('./assets/newbg11.jpg');
color:white!important;
background-size: cover!important;
background-repeat:no-repeat!important;
}

.testing{
  box-shadow: 5px 5px 5px 5px #219cee;
  
}

.testing2{
  box-shadow: 5px 0px 5px 5px #000305;
  
}

.testing3{
  box-shadow: 5px 0px 5px 5px white;
  
}

.vertical-timeline-element-content-arrow{
  display:none
}

.vertical-timeline-element-date{
  font-weight:bolder!important
}

.mypic{
  height: 350px;
  width: 350px;
 
}
.footalign{
  text-align:center;
  padding: 45px;
}
.abouttext{
  align-items:center
}
.career{
  margin-top: 75px;
}
.design{
  margin-top:25px;
  color:white;
  padding-bottom: 25px;
}
.linkedin{
  color:white!important;
  width: 245px!important;;
}
.envelope{
  color:white;
  margin-left:115px;
  
}
.break{
  margin-top:125px;
}

.ctoverlay{
  padding:0.50rem;

  color:white!important;
  margin-top:255px;
  width:400px;
}

.sitebtn{
  background: transparent;
  color:white;
  border: solid 2px white;
  border-radius: 5px;
  width: 250px;

}

.sitebtn:hover{
  background:red;
  box-shadow: 5px 0px 5px 5px white;
}

.modalbtn{
  margin-top:120px;
  margin-left:15px;
  background: white;
  color:white;
  border: solid 2px white;
  border-radius: 5px;
  width: 250px;
}

.modalall{
  background:url('./assets/newbg11.jpg');
color:white!important;

}
.modaltext{
  color:white;
  font-weight: bold
  /* background: rgb(0,3,5);
  background: linear-gradient(90deg, rgba(0,3,5,0.9822522759103641) 53%, rgba(33,156,238,1) 83%);
color:white!important */
}

.modfade{
  animation:fade-in 3s;
}



@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media screen and (max-width: 990px) {


 .summitcard, .evocard, .maxcard, .centralcard{
  margin-top: 95px;
 
 }
 .toolcard{
  margin-top:-40px;

 }
 .ctoverlay{
  margin-left:120px;
 }
 .mypic{
  width:50vw!important;
 }
}

@media screen and (max-width: 442px) {
 
 .mypic{
  width:40vw!important;
  margin-left:-200px;
 }
  .summitcard, .evocard, .maxcard, .centralcard{
   margin-top: 95px;
 
  }
  .toolcard{
   margin-top:-180px;
  
  }
  .ctoverlay{
   margin-left:0px;
  }
 }

 @media screen and (max-width: 772px) {
  
 
 
  .summitcard, .evocard, .maxcard, .centralcard{
   margin-top: 95px;
   width:450px;
   margin-left:35px;
  }
  .toolcard{
   margin-top:-40px;
   width:450px;
   margin-left:35px;
  }
  .modcard{
    width:450px;
    margin-left:35px;
  }
  .ctoverlay{
   margin-left:30px!important;
  }
  .footalign{
    margin-left:0px!important;
  }
  .abtmedia{
    margin-left: 120px!important
  }
  .mypic{
    width:50vw;
  }

 }

 @media screen and (max-width: 1200px) {
 
 
  .summitcard, .evocard, .maxcard, .centralcard, .modcard{
   margin-top: 95px;
   width:80vw;
  }
  .card-text{
    margin-left:-150px;
  }
  
  .toolcard{
   padding-top:5px;
   width:82vw;
  }
  .ctoverlay{
   margin-left:120px;
  }
  
  .abtmedia{
    width:60vw;
  }
 
  .mypic{
    width:55vw!important;
  }

  .footalign{
    margin-left:-150px;
  }
  
 }