.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.me{
width:75px;
margin-left: 20px;
}

.headlaign{
  text-align:center;
  
}


body{
  background: rgb(0,3,5);
  background: linear-gradient(90deg, rgba(0,3,5,0.9822522759103641) 53%, rgba(33,156,238,1) 83%);
color:white!important
}

.testing{
  box-shadow: 5px 5px 5px 5px #219cee;
  
}

.testing2{
  box-shadow: 5px 5px 5px 5px #000305;
  
}

.testing3{
  box-shadow: 5px 5px 5px 5px white;
  
}

.vertical-timeline-element-content-arrow{
  display:none
}

.vertical-timeline-element-date{
  font-weight:bolder!important
}

.mypic{
  height: 350px;
  width: 350px;
 
}

.abouttext{
  align-items:center
}
.career{
  margin-top: 75px;
}
.design{
  margin-top:25px;
  color:white;
  padding-bottom: 25px;
}

.break{
  margin-top:25px;
}

.ctoverlay{
  padding:0.5rem;
  background: black;
  color:white!important;
  margin-top:100px;
}

.sitebtn{
  background: transparent;
  color:white;
  border: solid 2px white;
  border-radius: 5px;
}





/* .testing{
  font-weight: bold;
  color: red;
  opacity:0.4;
  /* cursor:pointer; */
  /* margin-top:40px; */
/* } */
/* .testing:hover{
  opacity:1;
  color: transparent!important;
} */ */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
